$backgroundImg: url(../img/m-h-day.jpg);
$fontFamilyHeadersButtons: 'Source Sans Pro', sans-serif;
$fontText: 'Hind', sans-serif;
$mainColor: #fff;
$underlineColor: #0ca1c8;
$cardFooterColor: #1c1e2a;
$bannerColor: linear-gradient( to right, #699a00, #295bd5);
$whiteFont: #fff;
$darkFont: #282b39;
$buttonsColor: #699a00;
$hoverButtonsColor: lighten(#699a00, 5%);
$borderButton: darken(#699a00, 15%);
