$backgroundImg: url(../img/m-h-night.jpg);
$fontFamilyHeadersButtons: 'Source Sans Pro', sans-serif;
$fontText: 'Fresca', sans-serif;
$mainColor: #1b1e2a;
$underlineColor: #ff4d30;
$cardFooterColor: #383d4f;
$bannerColor: linear-gradient( to right, #dea401, #942a50);
$whiteFont: #fff;
$darkFont: #fff;
$buttonsColor: #e4ae00;
$hoverButtonsColor: lighten(#e4ae00, 5%);
$borderButton: darken(#e4ae00, 15%);
